@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to E-imenik</h2>
        <p>
            E-imenik jednostavna je .NET MVC aplikacija za upravljanje ocjenama učenika srednjih
            škola. Tehnologije korištene u izradi rješenja su ASP.NET MVC Code First, EntityFramework i MySQL server.
        </p>
    </div>
</div>